*{
font-family:'Open Sans',sans-serif;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #1A1A1A;
  margin-top: 60px;
}
#inspire {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.container.fill-height {
  align-items: normal;
}

a.side_bar_link {
  text-decoration: none;
}
.side_bar_link:hover{
  background-color:#FFC600!important;
}
.v-icon{
  color:white;
}
v-img{
  position:absolute;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a.side_bar_link.router-link-exact-active.router-link-active:hover > *{
  color:#1A1A1A;
  background-color: #FFC600!important;
}
a.side_bar_link.router-link-exact-active.router-link-active:hover +v-list-item__content{
  opacity:50%;
}
#up{
  position:absolute;
  top:auto;
}
#down{
  position:absolute;
  top:200px;
}
#table1{
  border-width: medium;
  border-color: black;
}
