*{
font-family:'Open Sans',sans-serif;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #1A1A1A;
  margin-top: 60px;
}
#inspire {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.container.fill-height {
  align-items: normal;
}

a.side_bar_link {
  text-decoration: none;
}
.side_bar_link:hover{
  background-color:#FFC600!important;
}
.v-icon{
  color:white;
}
v-img{
  position:absolute;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a.side_bar_link div.v-list-item__content:hover{
  color: #FFC600!important;
}

a.side_bar_link + div.v-list-item__content:hover{
  opacity:50%;
}
#up{
  position:absolute;
  top:30px;
}
#down{
  position:absolute;
  top:200px;
}
.elevation-1{
max-width:200%;
max-height:100%;

}
a.active.router-link-exact-active div.v-list-item__content{
  color: #FFC600!important;
}
